@use "sass:math";
@use "sass:color";

$accent-color: rgb(255, 0, 131);
$alt-color: #407880;
$big-font-size: 200%;

h1 {
  font-size: 220%;
  margin: 0.5rem 0;
}

h2 {
  font-size: 170%;
}

body {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-size: 16px;
}

a {
  color: darken(#b3e2ff, 42%);
}

section#content {
  max-width: 50rem;
}

section#info {
  // border-bottom: 3px solid #AAA;
  display: flex;
  align-items: baseline;
  gap: 2rem;
  margin: 0;
}

main {
  // max-width: 46rem;
  padding: 2rem;
}

section {
  h2 {
    margin-bottom: 0.5rem;
  }

  ol {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}

li {
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;

  .header {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0.4rem;
  }

  h3 {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .from, .when {
    margin: 0;
    padding: 0;
    color: #222;
    display: block;
  }

  .location {
    font-size: 0.9rem;
    text-align: right;
    flex-grow: 1;
  }

  .employer {
    margin: 0.5rem initial;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid $accent-color;
  }

  .content {
    font-size: 0.8rem;
  }

  .technology {
    color: $alt-color;
  }
}

@mixin degrade-list {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      .from {
        font-size: $big-font-size - $i * 10;
        color: darken($accent-color, $i * 5%)
      }
    }
  }
}

.job {
  @include degrade-list;
}

.formation {
  .from {
    font-weight: bold;
    font-size: 1.6rem;
    color: $alt-color;
  }
}

section#facts {
  max-width: 30rem;

  p {
    font-size: 0.9rem;
    max-width: 33rem;
  }
}

section#education {
  li {
    flex-basis: 33%;
  }
}
